<section class="p-detail" *ngIf="!loading() && product(); else loadingTpl">
  <div class="p-detail__gallery" *ngIf="product() as p">
    <img class="p-detail__hero" [src]="p.images[0]" [alt]="p.name" />
    <div class="p-detail__thumbs">
      <img *ngFor="let img of p.images" [src]="img" [alt]="p.name" />
    </div>
  </div>
  <div class="p-detail__info" *ngIf="product() as p">
    <h1>{{ p.name }}</h1>
    <div class="p-detail__price">{{ p.price | currency:'USD' }}</div>
    <p class="p-detail__desc">{{ p.description }}</p>
    <div class="p-detail__actions">
      <label for="qtyInput">Cantidad:</label>
      <input id="qtyInput" type="number" min="1" [value]="qty()" (input)="onQtyInput($event)" />
      <button class="btn" (click)="add()" [disabled]="!p">Agregar al carrito</button>
    </div>
  </div>
</section>

<ng-template #loadingTpl>
  <div class="p-detail__skeleton">
    <div class="sk sk--media"></div>
    <div class="sk sk--text"></div>
    <div class="sk sk--text short"></div>
  </div>
</ng-template>
