<!-- <div class="app-bg-bg"></div>
<div class="app-bg" style="min-height: 100vh;">
  <ng-container *ngIf="loading$ | async; else appContent">
    <div class="app-loading">
      <div class="spinner"></div>
      <span>Cargando...</span>
    </div>
  </ng-container>
  <ng-template #appContent>
    <router-outlet></router-outlet>
  </ng-template>
</div> -->

<div class="app-bg-gradient">
  <ng-container *ngIf="loading$ | async">
    <div class="app-loading-overlay">
      <div class="cool-spinner">
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
      </div>
      <span class="mt-3 text-cool-primary fw-semibold">Cargando...</span>
    </div>
  </ng-container>
  <router-outlet></router-outlet>
</div>

